.mainBackground {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}

.topBar {
    background: #7E7E7E;
    position: relative;
    width: 700px;
    height: 150px;
    border: none;
}

.main {
    height: 100vh;
    width: 700px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.category {
    width: 150px;
    height: 50px;
    background: #d9d9d9;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin: 20px;
}

.categoryIcon {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.search {
    position: absolute;
    display: flex;
    align-items: center;
    right: 5%;
    top: 50%;
    transform: translate(0%, -50%);
    width: 230px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
}

.searchIcon {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 15px;
}

.searchInput {
    width: 150px;
    height: 20px;
    background: none;
    border: none;
}

.account {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(0%, -50%);
    width: 250px;
    height: 100px;
    background: #000000;
    border-radius: 10px;
}

.registerButton {
    width: 70px;
    height: 20px;
    text-align: right;
    background: none;
    border: none;
    color: white;
    position: absolute;
    left: 70%;
    top: 45%;
}

.logoutButton {
    width: 70px;
    height: 20px;
    background: none;
    border: none;
    color: white;
    position: absolute;
    text-align: right;
    left: 70%;
    top: 70%;
}

.idText {
    background: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 5%;
    top: 15%;
}

.followerText {
    border: none;
    background: none;
    color: white;
    position: absolute;
    font-size: 13px;
    left: 5%;
    top: 55%;
}

.followingText {
    border: none;
    background: none;
    color: white;
    font-size: 13px;
    position: absolute;
    left: 5%;
    top: 75%;
}

.navigationBar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-right: 10%;
    height: 380px;
    width: 70px;
    background: #797979;
    border-radius: 25px;
}

.navigationItem {
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 100%;
    align-items: center;
    flex-direction: row;
}

.article {
    background-color: #d9d9d9;
    border: none;
    border-radius: 3%;
    width: 48%;
    height: 67%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    width: 90%;
    height: 17%;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileImage {
    border-radius: 15%;
    width: 45px;
    height: 45px;
    background-color: white;
    border: #000000;
    border-style: dashed;
    margin-right: 10px;
}

.profileId {
    font-weight: bold;
    margin-bottom: 3px;
}

.profileDate {
    margin-top: 3px;
}

.likeButton {
    width: 25px;
    height: 25px;
    border: none;
    background: none;
}

.likeIcon {
    width: 25px;
    height: 25px;
}

.likes {
    margin-left: 30px;
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content {
    background: white;
    border: none;
    border-radius: 5%;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.contentTitle {
    position: relative;
    font-weight: 600;
    left: 5%;
    top: 5%;
    width: 90%;
}

.contentText {
    position: relative;
    left: 5%;
    top: 10%;
    width: 90%;
    height: 45%;
}

.line {
    width: 90%;
    border: 0.5px solid;
    margin-bottom: 12.5px;
}

.contentPictures {
    width: 90%;
    height: 40%;
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.contentPicture {
    border-radius: 3%;
    border: none;
    background: #797979;
    width: 80px;
    height: 140px;
}