.background {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}

.topBar {
    background: #7E7E7E;
    position: relative;
    width: 700px;
    height: 150px;
}

.main {
    height: 100vh;
    width: 700px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.category {
    width: 150px;
    height: 45px;
    background: #d9d9d9;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.categoryIcon {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.search {
    position: absolute;
    display: flex;
    align-items: center;
    right: 5%;
    top: 50%;
    transform: translate(0%, -50%);
    width: 230px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
}

.searchIcon {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 15px;
}

.searchInput {
    width: 150px;
    height: 20px;
    background: none;
    border: none;
}

.account {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(0%, -50%);
    width: 250px;
    height: 100px;
    background: #000000;
    border-radius: 10px;
}

.navigationBar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-right: 10%;
    height: 380px;
    width: 70px;
    background: #FFFFFF;
    border-radius: 25px;
}

.navigationItem {
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}