
.searchItem {
    width: 250px;
    height: 60px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.followName {
    margin-left: 15px;
}

.followInteractButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-right: 15px;
    width: 80px;
}

.followInteractButton {
    width: 35px;
    height: 35px;
    border: none;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.followInteractIcon {
    width: 30px;
    height: 30px;
}