.article {
    background-color: #d9d9d9;
    border: none;
    border-radius: 3%;
    width: 100%;
    height: 480px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile {
    width: 90%;
    height: 17%;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileImage {
    border-radius: 15%;
    width: 45px;
    height: 45px;
    background-color: white;
    border: #000000;
    border-style: dashed;
    margin-right: 10px;
}

.profileId {
    font-weight: bold;
    margin-bottom: 3px;
}

.profileDate {
    margin-top: 3px;
}

.likeButton {
    width: 25px;
    height: 25px;
    border: none;
    background: none;
}

.likeIcon {
    width: 25px;
    height: 25px;
}

.likes {
    margin-left: 30px;
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 75px;
}

.content {
    background: white;
    border: none;
    border-radius: 5%;
    width: 90%;
    height: 78%;
    display: flex;
    flex-direction: column;
}

.contentTitle {
    position: relative;
    font-weight: 600;
    left: 5%;
    top: 5%;
    width: 90%;
}

.contentText {
    position: relative;
    left: 5%;
    top: 10%;
    width: 90%;
    height: 45%;
}

.line {
    width: 90%;
    border: 0.5px solid;
    margin-bottom: 12.5px;
}

.contentPictures {
    width: 90%;
    height: 40%;
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.editButton {
    background-color: white;
    border-radius: 15px;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}